<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active" routerLinkActive="active"><a class="nav-link" [routerLink]="['/user']">User</a> </li>
          <li class="nav-item" routerLinkActive="active"><a class="nav-link" [routerLink]="['/project']">Project</a> </li>
          <li class="nav-item" routerLinkActive="active"><a class="nav-link" [routerLink]="['/task']">Task</a> </li>
          <li class="nav-item" routerLinkActive="active"><a class="nav-link" [routerLink]="['/view-task']">View Task</a> </li>
        </ul>
        </div>
      </nav>