<div class="panel">
  <div class="panel-body row col-sm-10">
    <label class="col-sm-2 col-form-label" for="txtFirstName">Project</label>
    <div class="form-group row col-sm-8">
      <input type="text" class="form-control mr-1 col-sm-6" placeholder="Project" id="txtProject" />
      <input type="button" value="Search" class="btn btn-search" />
    </div>
  </div>
  <div class="panel-body row col-sm-10">
    <label class="col-sm-2 col-form-label">Task</label>
    <div class="form-group row col-sm-8">
      <input type="text" class="form-control mr-1 col-sm-8" placeholder="Task" />
    </div>
  </div>
  <div class="panel-body row col-sm-10">
    <label class="col-sm-2 col-form-label"></label>
    <div class="checkbox">
      <label>
        <input type="checkbox">Parent task</label>
    </div>
  </div>
  <div class="panel-body row col-sm-10">
    <label class="col-sm-2 col-form-label">Priority</label>
    <div class="form-group row col-sm-8">
      <input type="range" class="form-control mr-1 col-sm-8" min="0" max="50" />
    </div>
  </div>
  <div class="panel-body row col-sm-10">
    <label class="col-sm-2 col-form-label" for="txtParentTask">Parent Task</label>
    <div class="form-group row col-sm-8">
      <input type="text" class="form-control mr-1 col-sm-6" placeholder="Parent Task" id="txtParentTask" />
      <input type="button" value="Search" class="btn btn-search" />
    </div>
  </div>

  <div class="panel-body row col-sm-10">
    <label class="col-sm-2 col-form-label" >Start Date</label>
    
      <input type="date" class="form-control col-sm-2"  />
      <label class="col-sm-2 col-form-label">End Date</label>
      <input type="date" class="form-control col-sm-2"  />
    
  </div>
  <div class="panel-body row col-sm-10">
    <label class="col-sm-2 col-form-label" for="txtParentTask">User</label>
    <div class="form-group row col-sm-8">
      <input type="text" class="form-control mr-1 col-sm-6" placeholder="User" id="txtUser" />
      <input type="button" value="Search" class="btn btn-search" />
    </div>
  </div>
  <div class="form-group row">
      <label class="col-sm-4 col-form-label"></label>
    <div class="pull-right">
      <input type="button" class="btn btn-primary mr-1" value="Add Task">
      <input type="button" class="btn btn-secondary" value="Reset">
    </div>
</div>
</div>