<form  (ngSubmit)="onTaskSubmit(taskFrm)" [formGroup]="taskFrm">
<div class="panel">
  <div class="panel-body row col-sm-10">
    <label class="col-sm-2 col-form-label" for="txtFirstName">Project</label>
    <div class="form-group row col-sm-8">
      <input type="text" class="form-control mr-1 col-sm-6" formControlName="projectID" placeholder="Project" id="txtProject" />
      <input type="button" value="Search" class="btn btn-search" (click)="loadProjectsToSelect()" data-toggle="modal" data-target="#projectModal"/>
    </div>
  </div>
  <div class="panel-body row col-sm-10">
    <label class="col-sm-2 col-form-label">Task</label>
    <div class="form-group row col-sm-8">
      <input type="text" class="form-control mr-1 col-sm-8" formControlName="taskName" placeholder="Task" />
    </div>
  </div>
  <div class="panel-body row col-sm-10">
    <label class="col-sm-2 col-form-label"></label>
    <div class="checkbox">
      <label>
        <input type="checkbox" formControlName="isParentTask">Parent task</label>
    </div>
  </div>
  <div class="panel-body row col-sm-10">
    <label class="col-sm-2 col-form-label">Priority</label>
    <div class="form-group row col-sm-8">
      <input type="range" formControlName="priority" class="form-control mr-1 col-sm-8" min="0" max="50" value="0" />
    </div>
  </div>
  <div class="panel-body row col-sm-10">
    <label class="col-sm-2 col-form-label" for="txtParentTask">Parent Task</label>
    <div class="form-group row col-sm-8">
      <input type="text" class="form-control mr-1 col-sm-6" formControlName="parentTask" placeholder="Parent Task" id="txtParentTask" />
      <input type="button" value="Search" class="btn btn-search" (click)="loadTasksToSelect()" data-toggle="modal" data-target="#pTaskModal"/>
    </div>
  </div>

  <div class="panel-body row col-sm-10">
    <label class="col-sm-2" >Start Date</label>
    <my-date-picker class="col-sm-4" name="startDate" [options]="myDatePickerOptions"
                    formControlName="startDate"></my-date-picker> 
      <!-- <input type="date" class="form-control col-sm-2" formControlName="startDate"  /> -->
    </div>
      <div class="panel-body row col-sm-10">
      <label class="col-sm-2 col-form-label">End Date</label>

      <!-- <input type="date" class="form-control col-sm-2"  formControlName="endDate"/> -->
      <my-date-picker class="col-sm-4" name="endDate" [options]="myDatePickerOptions"
      formControlName="endDate"></my-date-picker> 
  </div>
  <div class="panel-body row col-sm-10">
    <label class="col-sm-2 col-form-label" for="txtParentTask">User</label>
    <div class="form-group row col-sm-8">
      <input type="text" class="form-control mr-1 col-sm-6" formControlName="taskOwner" placeholder="User" id="txtUser" />
      <input type="button" value="Search" class="btn btn-search" (click)="loadUsersToSelect()" data-toggle="modal" data-target="#taskOwnerModal" />
    </div>
  </div>
  <div class="form-group row">
      <label class="col-sm-4 col-form-label"></label>
    <div class="pull-right">
      <input type="submit"  class="btn btn-primary mr-1" value="{{btnTaskTitle}}">
      <input type="reset" class="btn btn-secondary" value="Reset">
    </div>
</div>
</div>
<div *ngIf="msg" role="alert" class="alert alert-info alert-dismissible">
  <button type="button" class="close" data-dismiss="alert"><span>*</span></button>
  <span class="sr-only">Error:</span>{{msg}}
</div>
</form>
<!-- The Modal -->
<div class="modal" id="taskOwnerModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Select Task Owner</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <table class="table table-bordered">
          <tr *ngFor="let user of users | userFirstNameFilter:firstName;let i =index" (click)="setClickedRow(i,user.id)"  [class.active]="i == selectedRow">
            <td>
              <table class="table">
                  <tr >          
                  <td>{{user.id}}</td>                  
                  <td>{{user.firstName}}</td>
                  <td>{{user.lastName}}</td>
                  <td>{{user.employeeId}}</td>
          
                </tr>
                
                
              </table>
            </td>
            </tr>
          </table>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Select</button>
      </div>

    </div>
  </div>
</div>
<!-- End of Task Owner Modal-->
<!-- The Project Modal -->
<div class="modal" id="projectModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Select Project</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <table class="table table-bordered">
          <tr *ngFor="let project of projects;let i =index" (click)="setProjectClickedRow(i,project.projectID)"  [class.active]="i == selectedRow">
            <td>
              <table class="table">
                  <tr >          
                  <td>{{project.projectID}}</td>                  
                  <td>{{project.project}}</td>          
                </tr>
              </table>
            </td>
            </tr>
          </table>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Select</button>
      </div>

    </div>
  </div>
</div>
<!-- End of Project Modal-->
<!--pTaskModal-->
<div class="modal" id="pTaskModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Select Parent Task</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <table class="table table-bordered">
          <tr *ngFor="let task of tasks;let i =index" (click)="setParentTaskClickedRow(i,task.taskId)"  [class.active]="i == selectedRow">
            <td>
              <table class="table">
                  <tr >          
                  <td>{{task.taskId}}</td>                  
                  <td>{{task.taskName}}</td>          
                </tr>
              </table>
            </td>
            </tr>
          </table>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Select</button>
      </div>

    </div>
  </div>
</div>